<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tifa.framework.web.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.tifa.framework.web.pojo.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ordercode" column="orderCode" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="post" column="post" jdbcType="VARCHAR"/>
            <result property="receiver" column="receiver" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="usermessage" column="userMessage" jdbcType="VARCHAR"/>
            <result property="createdate" column="createDate" jdbcType="TIMESTAMP"/>
            <result property="paydate" column="payDate" jdbcType="TIMESTAMP"/>
            <result property="deliverydate" column="deliveryDate" jdbcType="TIMESTAMP"/>
            <result property="confirmdate" column="confirmDate" jdbcType="TIMESTAMP"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderCode,address,
        post,receiver,mobile,
        userMessage,createDate,payDate,
        deliveryDate,confirmDate,uid,
        status
    </sql>
</mapper>
