<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tifa.framework.web.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.tifa.framework.web.pojo.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="subtitle" column="subTitle" jdbcType="VARCHAR"/>
            <result property="orignalprice" column="orignalPrice" jdbcType="FLOAT"/>
            <result property="promoteprice" column="promotePrice" jdbcType="FLOAT"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="cid" column="cid" jdbcType="INTEGER"/>
            <result property="createdate" column="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,subTitle,
        orignalPrice,promotePrice,stock,
        cid,createDate
    </sql>
</mapper>
