<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tifa.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tifa.framework.web.pojo.User">
            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="uname" column="uname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="headpicture" column="headpicture" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="bid" column="bid" jdbcType="INTEGER"/>
            <result property="persignature" column="persignature" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,uname,password,
        phone,email,headpicture,
        nickname,bid,persignature
    </sql>
</mapper>
